{% extends "common.tera" %}

{% block title %}{{ id }} ★ learn-by-example{% endblock title %}

{% block content %}

<ol>
{% for child in children %}
    <li>
    <a href="{{ child.1 }}">
        {% if child.0 %}
            ?
        {% else %}
            
        {% endif %}
        {{ child.1 }}
    </a>
    </li>
{% endfor %}
</ol>
{% endblock content %}
