<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>learn by questions</title>
</head>

<body>


<details>
    <summary>{{ id }}</summary>
    <div>
    <fieldset>

    {{ prompt | safe }}

    <div id="options">
        <fieldset>
            {{ options | safe }}
        </fieldset>
    </div>

    <button onclick="evaluate_answer()">evaluate</button>

    <button onclick="show_hint()">hint</button>

    <button onclick="show_truth()">reveal</button>

    <p id="feedback" hidden></p>

    <div id="hint" hidden>
        {{ hint | safe }}
    </div>

    <div id="truth_and_explaination" hidden>
        {{ truth | safe }}
        {{ explaination | safe }}
    </div>
    </fieldset>
    </div>
</details>



<script>
    const truth = [false, false, false, false];

    function evaluate_answer() {
        const answer = Array.from(document.getElementsByTagName("input")).map(e => e.checked);
        const feedback = document.getElementById("feedback");
        for (let i = 0; i < answer.length; ++i) {
            const is_element_eq = answer[i] === truth[i];
            if (!is_element_eq) {
                feedback.innerHTML = "incorrect answer";
                feedback.hidden = false;
                return;
            }
        }
        feedback.innerHTML = "correct answer";
        feedback.hidden = false;
        show_truth();
    }

    function show_hint() {
        const hint = document.getElementById("hint");
        hint.hidden = false;
    }

    function show_truth() {
        const hint = document.getElementById("truth_and_explaination");
        hint.hidden = false;
    }
</script>

</body>
</html>
