<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>learn by questions</title>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/javascript">
    window.MathJax = {
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
    };
    </script>
</head>

<body>


<fieldset>

{{ prompt | safe }}

<div id="options">
    <fieldset>
        {{ options | safe }}
    </fieldset>
</div>

<button onclick="evaluate_answer()">evaluate</button>

<button onclick="show_hint()">hint</button>

<button onclick="show_truth()">reveal</button>

<h1 id="feedback" hidden></h1>

<div id="hint" hidden>
    {{ hint | safe }}
</div>

<div id="truth_and_explaination" hidden>
    {{ truth | safe }}
    {{ explaination | safe }}
</div>
</fieldset>



<script>
    function init() {
        document.querySelectorAll("div#options input").forEach(e => { e.disabled = false; });
    }

    init();

    const truth = {{ truth_values }};

    function evaluate_answer() {
        const inputs = document.querySelectorAll(`#options input`);
        const answer = Array.from(inputs).map(e => e.checked);
        const feedback = document.querySelector(`#feedback`);
        for (let i = 0; i < answer.length; ++i) {
            const is_element_eq = answer[i] === truth[i];
            if (!is_element_eq) {
                feedback.innerHTML = "incorrect answer";
                feedback.hidden = false;
                return;
            }
        }
        feedback.innerHTML = "correct answer";
        feedback.hidden = false;
        show_truth();
    }

    function show_hint() {
        const hint = document.querySelector("#hint");
        hint.hidden = false;
    }

    function show_truth() {
        const hint = document.querySelector("#truth_and_explaination");
        hint.hidden = false;
    }
</script>

</body>
</html>
